.card-body{
  margin: auto;
  padding: 10px;
  margin-top: 25px;
}
.navbar{
  padding: 10px;
  font: boldest;
  height: 77px;
}
.link{
  font-size: larger;
}
.body{
background-color: cornflowerblue;
}
.player-stats{
margin: auto;
padding: 10px;
width: 35%;
background-color: indianred;  
}